<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--
		Determines if an Api Key is required to push\delete packages from the server. 
		-->
		<add key="requireApiKey" value="true"/>
		<!-- 
		Set the value here to allow people to push/delete packages from the server.
		NOTE: This is a shared key (password) for all users.
		-->
		<add key="apiKey" value="hIneVISKYHEPLUnTHURS"/>
		<add key="allowOverrideExistingPackageOnPush" value="true"/>
		<add key="ignoreSymbolsPackages" value="false"/>
		<add key="enableDelisting" value="true"/>
		<add key="enableFrameworkFiltering" value="false"/>
		<add key="enableFileSystemMonitoring" value="true" />
		<!--
		When running NuGet.Server in a NAT network, ASP.NET may embed the erver's internal IP address in the V2 feed.
		Uncomment the following configuration entry to enable NAT support.
		-->
		<!-- <add key="aspnet:UseHostHeaderForRequestUrl" value="true" /> -->
	</appSettings>
	
	<system.web>
	<customErrors mode="Off"/>
		<httpRuntime maxRequestLength="31457280"/>
		<compilation debug="true" targetFramework="4.6.1"/>
	</system.web>
	
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".nupkg" mimeType="application/zip"/>
		</staticContent>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
		<handlers>
			<remove name="WebDAV"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="31457280"/>
			</requestFiltering>
		</security>
	</system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
